.funds {
  box-sizing: border-box;
  padding: 0.5rem;
  display: flex;
  gap: 1rem;
  flex-wrap: nowrap;
  &__side {
    padding: 1rem;
    height: 85vh;
    max-height: 85vh;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    min-width: 20rem;
    width: 20rem;
    &--title {
      font-weight: 500;
    }
    &--fund {
      border: 1px solid #ddd;
      margin-top: 1rem;
      height: calc(100% - 6rem);
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      overflow-y: scroll;
      .child {
        padding: 0.5rem 2.8rem;
        cursor: pointer;
        border-radius: 4px;
        font-size: 1.1rem;
        &--active {
          color: white;
          background-color: #33cc7f;
        }
        &--inactive {
          background-color: #b8b8b8;
          color: #fff;
        }
      }
    }
  }
  &__rest {
    box-sizing: border-box;
    height: 85vh;
    max-height: 85vh;
    padding: 1rem;
    flex-grow: 1;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    &--title {
      font-weight: 600;
      font-size: 1.2rem;
      border-bottom: 1px solid #ddd;
    }
    &--description{
      margin-top: 0.4rem;
    }
  }
}
