.layout {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    //   background-image: url('/assets/images/auth_bgr.jpg');
    //   background-size: cover;
    //   background-position: center;
    background: #4e8530;
    background: linear-gradient(to left, #76b852, #8DC26F);
    .loginBox {
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      box-sizing: border-box;
      padding: 20px;
      background-color: #fff;
      min-width: 25rem;
      border-radius: 5px;
      > h4 {
        text-align: center;
        margin-bottom: 2rem;
      }
      .toSignUp{
        color: #b2b2b3;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
      }
    }
  }
  