.otpInput {
  span {
    margin: 0 0.7rem;
  }
  .inputStyle {
    width: 2.5rem !important;
    height: 2.5rem;
    font-size: 1.8rem;
    border: 1px solid black;
    border-radius: 4px;
  }
}
.toSignUp {
  margin-top: 1rem;
  color: #b2b2b3;
  display: flex;
  gap: 1rem;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
